@use "@variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: transparent;
  border: none;
  border-radius: var(--rounded-xs);

  @include hover {
    outline: 2px solid var(--color-primary);

  }
}

.loaderContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.loader {
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    background: hsla(var(--color-loader) / 90%);
    box-shadow: 7px 0 hsla(var(--color-loader) / 90%), -7px 0 hsla(var(--color-loader) / 90%)
  }

  33% {
    background: hsla(var(--color-loader) / 10%);
    box-shadow: 7px 0 hsla(var(--color-loader) / 90%), -7px 0 hsla(var(--color-loader) / 10%)
  }

  66% {
    background: hsla(var(--color-loader) / 10%);
    box-shadow: 7px 0 hsla(var(--color-loader) / 10%), -7px 0 hsla(var(--color-loader) / 90%)
  }

  80% {
    background: hsla(var(--color-loader) / 90%);
    box-shadow: 7px 0 hsla(var(--color-loader) / 10%), -7px 0 hsla(var(--color-loader) / 90%)
  }
}