@use "@variables" as *;

.list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  border-left: 1px solid var(--color-border);
}

.link {
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-text-muted);
  letter-spacing: 0.02em;
  transition: 0.3s ease;

  @include hover {
    color: var(--color-text-menu);
    transition: 0.3s ease;
  }
}

.link.active {
  color: var(--color-text-heading);
}

.link.active::after {
  position: absolute;
  top: 50%;
  left: -17px;
  width: 1px;
  height: 18px;
  content: '';
  background: var(--color-primary);
  transform: translateY(-50%);
}