@use "@variables" as *;

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: var(--rounded-xs);

  @include hover {
    outline: 2px solid var(--color-primary);
  }
}

.github {
  fill: var(--color-text-body);
}