.list {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-menu);
  border-radius: var(--rounded-xs);
  transition: 0.3s ease;
}

.link.active {
  color: var(--color-primary);
}

@media(hover: hover) {
  .link:hover {
    color: var(--color-primary);
    transition: 0.3s ease;
  }

  .link.active:hover {
    color: var(--color-primary);
  }
}