.list {
  display: flex;
  gap: 12px;
  align-items: center;
}

.link {
  padding: 4px 16px;
  font-size: 14px;
  color: var(--color-text-body);
  border-radius: var(--rounded-xs);
  transition: 0.3s ease;
}

.link.active {
  color: #ffff;
  background: var(--color-primary);
}

@media(hover: hover) {
  .link:hover {
    color: #ffff;
    background: var(--color-primary);
    transition: 0.3s ease;
  }
}